*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: #9bf99b80;
}

#area{
    border: 2px solid red;
    display: block;
    margin: auto;
    height: 8vh;
    width: 80%;
}

#play-container{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#play{
    width: 80px;
    height: 40px;
    font-size: 25px;
    background-color: #72ff7261;
    border: 3px solid green;
    border-radius: 20px;
    transition: all 0.3s ease;
    cursor: pointer;
    color: brown;
}
#play:hover{
    transform: scale(1.2);
}